@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// Primary Color
$light-red:  hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

// Neutral
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);

// Gradient
$orange-red: hsl(13, 100%, 72%);
$red: hsl(353, 100%, 62%);


$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

$fs: 16px;

$overpass-ff: 'Overpass', sans-serif;
$ubuntu-ff: 'Ubuntu', sans-serif;

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}